.infoText {
    margin-top: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
    color: #09353D;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
.reasons{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    line-height: 30px;
}
.reasonsText{
    margin-top: 20px;
    line-height: 20px;
}

.fishHeader{
    width:100%;

}
.form-div{
    border: 1px solid black;
    background-color: #ECECEC;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.form-div input, textarea{
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    
}
.form-div input{
    width:250px;
    height:30px;
}
.form-div textarea{
    width:250px;
    height:150px
}
.form-div button{
    align-items: center;
    justify-content: center;
}

#formButton{
    width: 145px;
    height:45px;
    background-color: #09353D;
    border-radius: 5px;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
}

.factDiv{
    margin-top: 100px;
}

@media screen and (min-width: 800px) {

    .infoText{
        margin-top: 0px;
    }
    
}
