.infoText {
    margin-top: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
    color: #09353D;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
.reasons{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    line-height: 30px;
}
.reasonsText{
    margin-top: 20px;
    line-height: 20px;
}

.fishHeader{
    width:100%;

}


.factDiv{
    margin-top: 100px;
}


@media screen and (min-width: 769px) {

    .infoText{
        margin-top: 0px;
    }

    .desktopInfoReasons{
        display: flex;
        flex-direction: row;
        width:1000px;
        justify-content: space-around;
        align-items: center;
        border: 1px solid black;
            margin: auto;
            transform: translateX(0,-50%);

    }

    #aquaponicImg{
        display: none;
    }

    .infoText{
        text-align: top;
    }

    .factDiv{
        bottom: 15rem;
        position: relative;
    }

   
   
    
}

