.form{
    background-color: white;
    border-radius: 5px;
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-div{
    border: 1px solid black;
    background-color: #ECECEC;
    opacity: 0.8;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-direction: column;
}
.form-div input, textarea{
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    margin-left: 5%;
}
.form-div p{
    margin-left: 5%;
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
}
.form-div input{
    width:250px;
    height:30px;
}
.form-div textarea{
    width:250px;
    height:100px
}
.form-div button{
    align-items: center;
    justify-content: center;
}

#formButton{
    width: 145px;
    height:45px;
    background-color: #09353D;
    border-radius: 5px;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
}

.formDivHidden{
    display:none;
}




.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

@media screen and (min-width: 769px) {
    .form-div input{
        width:80%;
        height:30px;
    }
    .form-div textarea{
        width:80%;
        height:150px
    }
}