/* @media screen and (min-width: 600px) {
    .gridLayout2 {
        display: grid;    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 2fr) 4fr 2fr 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas: "header header" 
                             "info1 info2"
                             "reasons1 reasons2"
                             "form facts"
                             "footer footer"   
        }
}
 */
@media screen and (min-width: 600px) {
    .gridLayout {
        border: 5px solid black;
        display: grid;    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1px;
        grid-row-gap: 1px;     
        width: 100vw;
        max-height: 3028px;
        grid-template-areas: "header header" 
                             "info aquaponic"
                             "greenhouse reasons"
                             "form facts"
                             "claria claria"
                             "footer footer";   
        
        }

        .gridLayout > div {
            border: 3px solid black;
        }

        
}


  