@media screen and (max-width: 768) {
    .gridLayout{
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .item1 { grid-area: header; }
    .item2 { grid-area: info; }
    .item3 { grid-area: aquaponic; }
    .item4 { grid-area: greenhouse; }
    .item5 { grid-area: reasons; }
    .item6 { grid-area: form; }
    .item7 { grid-area: facts; }
    .item8 { grid-area: claria; }
    .item9 { grid-area: footer; }

    .gridLayout {
        position: relative;
        display: grid;    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 2fr, 2fr, 3fr, 1fr, 1fr;;
        grid-column-gap: 0px;
        grid-row-gap: 0px;        
        width: 80vw;
        left:10vw;
        height: 3028px;
        grid-template-areas: "header header" 
                             "info aquaponic"
                             "greenhouse reasons"
                             "form facts"
                             "claria claria"
                             "footer footer";   
        
        }

        .gridLayout > div {
            
        }

        body {
            margin: 0;
        }  

        
}


  