.logo {
    background: url("../../../public/img/Hive_Logo.svg") center center/cover no-repeat;
    width: 100px;
    height: 100px;
  }
  
  .greenhouse{
    width: 286px;
    height: 299px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;

    
  }  

  .fish{
    background: url("../../../public/img/fish.svg") center center/cover no-repeat;
    width: 255px;
    height: 254px;
    margin: auto;
  }  

  .IllustrationSystem{
    background: url("../../../public/img/Illustrationsystem.svg") center center/cover no-repeat;
    width:350px;
    height:350px;
    margin: auto;
  }

  .system {
    background: url("../../../public/img/sytem.png") center center/cover no-repeat;
    width: 200px;
    height: 100px;
  }

  @media screen and (max-width:768px) {
    .IllustrationSystem{
      display: none;
    }
  }