.logo {
    background: url("../../../public/img/Hive_Logo.svg") center center/cover no-repeat;
    width: 100px;
    height: 100px;
  }
  
  .greenhouse{
    width: 300px;
    height: 340px;
    margin-left: 50%;
    transform: translateX(-50%);

    
  }  

  .fish{
    width: 255px;
    height: 254px;
    margin-left: 50%;
    transform: translateX(-50%);
  }  

  .IllustrationSystem{
    width:440px;
    height:440px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .system {
    background: url("../../../public/img/sytem.png") center center/cover no-repeat;
    width: 200px;
    height: 100px;
  }

  @media screen and (max-width:768px) {
    .IllustrationSystem{
      display: none;
    }
  }