  .fishHeader h1{
    text-align: center;
    color: white;
    font-size: 48;
    font-family: 'Rubik', sans-serif;
  }
  
  .infoText {
    margin-top: 20px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  #infoTitle{
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 600;
  }

  #infoSubTitle{
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin: 2%;
    font-weight:600;
  }
  #infoText{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
    margin-top: 0;
  }

  #factSubTitle{
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    color: white;
    text-align: left;
    font-weight: 600;
  }
  #restaurantText {
    text-align: left;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-left: 5%;
  }
  

  #reasonsTitle{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color:white;
    margin-left:12%;
    margin-right: 25%;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .reasonsText{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    color: white;
    margin-left: 10%;
    margin-right:10%;
  }


  #specialSign{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 22px;
    color: white;
    font-weight: 500;
  }

  label{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
  }

  #formButton{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
  }

  .formText {
    text-align: left;
    padding: 5%;
    margin-left:5%;
  }
  #formTitle{
    font-family: 'Rubik', sans-serif;
    font-size: 32px;
    color: white;
  }
  #formText{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-align: left;
    margin-left: 5%;
  }
  

  #fat-font{
    font-weight: 800;
    font-display: bold;
  }

  @media only screen and (min-width:600px) {

    .infoText{
      margin-top: 0px;
    }
    
  }