html {
  background: url("../public/img/Bakgrund2.png") center center/cover no-repeat;
  width: 428px;
  height: 4315.5px;  
}

body {
  margin: auto;
  margin-top: 25px;
  max-width: 428px;
  padding: 10px;
  border-radius: 5px;
}

.logo {
  background: url("../public/img/Hive_Logo.svg") center center/cover no-repeat;
  width: 100px;
  height: 100px;
}

.claria {
  background: url("../public/img/claria.jpg") center center/cover no-repeat;
  width: 200px;
  height: 100px;
}

.system {
  background: url("../public/img/sytem.png") center center/cover no-repeat;
  width: 200px;
  height: 100px;
}

.logo {
  max-height: 100px;  
}

.infoText {
  margin-top: 250px;
  color: white;
}

.fishHeader {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: ;
}

.headline {
  margin-left: 20px;
}

.fishFooter {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;  
  padding: 10px;
}

.funText {
  color: white;
}


