html {
  background-color: antiquewhite;  
}

body {
  margin: auto;
  margin-top: 25px;
  max-width: 90%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px black;
}

.logo {
  background: url("../public/img/Hive_Logo.svg") center center/cover no-repeat;
  width: 100px;
  height: 100px;
}

.claria {
  background: url("../public/img/claria.jpg") center center/cover no-repeat;
  width: 200px;
  height: 100px;
}

.system {
  background: url("../public/img/sytem.png") center center/cover no-repeat;
  width: 200px;
  height: 100px;
}

header {
  max-height: 100px;
}

.infoText {
  font-family:'Times New Roman', Times, serif
}

