html {
  background: url("../public/img/Bakgrund2.png") center center/cover no-repeat;
  width: 428px;
  height: 4315.5px;  
  overflow-x: hidden;
}

body {
  margin: auto;
  margin-top: 25px;
  max-width: 428px;
  padding: 10px;
  border-radius: 5px;
}

.logo {
  background: url("../public/img/Hive_Logo.svg") center center/cover no-repeat;
  width: 100px;
  height: 100px;
}

.claria {
  background: url("../public/img/claria.jpg") center center/cover no-repeat;
  width: 200px;
  height: 100px;
}
.IllustrationSystem{
  background: url("../public/img/Illustrationsystem.svg") center center/cover no-repeat;
  width:250px;
  height:250px;
  display: flex;
  
}

.system {
  background: url("../public/img/sytem.png") center center/cover no-repeat;
  width: 200px;
  height: 100px;
}

.logo {
  max-height: 100px;  
}

.fishHeader {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: #09353D;
  font-size: 18px;
}
.infoText {
  margin-top: 250px;
  color: white;
  font-family: 'Rubik', sans-serif;
  color: #09353D;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
#infoTitle{
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
  color: #09353D;
}
#infoSubTitle{
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
  color: #09353D;
}
#infoText{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 22px;
  color: white;
}


.headline {
  margin-left: 20px;
}

.fishFooter {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;  
  padding: 10px;
}

.funText {
  color: white;
}


